.mainFaqDiv {
    /* width: 1135px; */
    width: 80vw;
    height: 345px;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
}

.accordian {
    margin-bottom: 80px;
}

.header {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.accordianTab {
    background-color: var(--color-white);
    border-radius: 10px;
    cursor: pointer;
}

.accordianTitleTab {
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    background-color: var(--color-black);
    border: 2px solid var(--color-white);
    border-radius: 10px;
    width: 100%;
}

.accordianTitle {
    width: 90%;
}

.accordianContent>p {
    padding: 24px 32px;
}

.accordianTab>.accordianContent {
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 10px;
    width: 100%;
    max-height: 0;
    transition: 0.3s;
    overflow: hidden;
}

.accordianTab>.accordianToggle {
    display: none;
}

.accordianArrowIcon {
    width: 5%;
    display: flex;
    justify-content: center;
    transform: rotate(0deg);
    transition: transform 0.3s;

}

/* @media screen and (max-width:420px) {
    .accordianArrowIcon {
        max-width: 10px;
    }
} */

.accordianTab>.accordianToggle:checked~.accordianContent {
    max-height: 100vh;
}

.accordianTab>.accordianToggle:checked~.accordianTitleTab>.accordianArrowIcon {
    transform: rotate(180deg);
}