.cardMainDiv {
    background-color: var(--color-white);
    width: 159px;
    height: 205px;
    border-radius: 10px;
    align-items: center
}


.followerBox {
    background-color: var(--color-black);
    border-radius: 10px;
    display: inline-block;
    height: 23px;
    align-items: center;
    padding: 4px 8px;
    margin-left: 6px;
    margin-top: 6px;
}

.banner {
    overflow: hidden;
    text-overflow: ellipsis;
}

.songcard_typography_card {
    color: var(--color-white);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2px 0px;
}